{
	log {
		output file /var/log/caddy/access.log
		format json
	}
	servers {
		metrics
	}
	admin :2019
}

dacite.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.70:8006 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

enee.mpve.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.172:8006 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}
