{
	log {
		output file /var/log/caddy/access.log
		format json
	}
	servers {
		metrics
	}
	admin :2019
}

adakite.ozeliurs.com, *.adakite.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.134 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

jellyfin.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.69 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

jellyseerr.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.69 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

wizarr.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.69 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

kavita.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.69 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

granite.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.169:8006 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

mc.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.68:8443 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

obsidian.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy http://192.168.1.126 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

weakspotter.ozeliurs.com, *.weakspotter.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.143 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

enee.mpve.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy https://192.168.1.172:8006 {
		header_up Host {host}
		header_up X-Real-IP {remote}

		transport http {
			tls_insecure_skip_verify
		}
	}
}

coder.ozeliurs.com {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1
	}
	reverse_proxy http://192.168.1.11 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}
