```mermaid
graph LR
    %% Style definitions
    classDef internet fill:#f9f,stroke:#333,stroke-width:2px;
    classDef proxy fill:#bbf,stroke:#333,stroke-width:2px;
    classDef backend fill:#bfb,stroke:#333,stroke-width:2px;
    classDef secure fill:#9f9,stroke:#333,stroke-width:2px;
    classDef unsecure fill:#ff9,stroke:#333,stroke-width:2px;

    %% Nodes
    I[Internet]
    C[Caddy Server]

    %% Apply styles
    class I internet
    class C proxy

    %% Base connections
    I -->|HTTP & HTTPS| C

    %% Backend groups
    subgraph Secured[Secured Zone]
        style Secured fill:#e6ffe6,stroke:#333,stroke-width:2px
        {% for backend, domains in secured_backends.items() %}
        S{{ loop.index0 }}[{{ backend }}]
        class S{{ loop.index0 }} secure
        {% endfor %}
    end

    subgraph Unsecured[Unsecured Zone]
        style Unsecured fill:#fff6e6,stroke:#333,stroke-width:2px
        {% for backend, domains in unsecured_backends.items() %}
        U{{ loop.index0 }}[{{ backend }}]
        class U{{ loop.index0 }} unsecure
        {% endfor %}
    end

    %% Connections
    {% for backend, domains in secured_backends.items() %}
    C -->|{% for domain in domains %}{{ domain | tojson }}<br>{% endfor %}| S{{ loop.index0 }}
    {% endfor %}
    {% for backend, domains in unsecured_backends.items() %}
    C -->|{% for domain in domains %}{{ domain | tojson }}<br>{% endfor %}| U{{ loop.index0 }}
    {% endfor %}
```
